{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
        {lz4, {git, "git@github.com:SiftLogic/lz4-erlang.git", {branch, "main"}}},
        {snappy, {git, "git@github.com:SiftLogic/snappy-erlang-nif.git", {branch, "master"}}},
        {uuid, {git, "git@github.com:SiftLogic/uuid.git", {tag, "sl1.5.2"}}},
        {pooler, "1.5.3"},
        {re2, "1.9.8"}
       ]}.
